﻿@model DAL.AdminMainProgress
@using DAL;
@{
    var AllLanguages = Model.Languages;
    var AllTranslates = Model.Translates;
    var menu = Model.Pages.Where(x => x.ParentId == 0 && x.ShowMenu == true && x.Active == true).OrderBy(x => x.Order);
    var subMenu = Model.Pages.Where(x => x.ParentId != 0 && x.ShowMenu == true && x.Active == true).OrderBy(x => x.Order);
    var socialMedia = Model.SocialMedia.Where(x => x.Active == true).OrderBy(x => x.Order);

    var friendlyUrl = ViewContext.RouteData.Values["id"].ToString();
    var data = Model.Pages.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var mainParentData = Model.Pages.Where(x => x.DataId == data.ParentId).FirstOrDefault();
    var parentData = Model.Pages.Where(x => x.DataId == data.ParentId).FirstOrDefault();
    var leftMenu = Model.Pages.Where(x => x.ParentId == data.ParentId).ToList();
    var viewName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();

    if (mainParentData != null)
    {
        if (viewName == "Peoples")
        {
            while (mainParentData.ParentId == 0)
            {
                parentData = Model.Pages.Where(x => x.DataId == data.ParentId).FirstOrDefault();
                mainParentData = Model.Pages.Where(x => x.DataId == parentData.ParentId).FirstOrDefault();
            }
        }
        else
        {
            while (mainParentData.ParentId != 0)
            {
                parentData = Model.Pages.Where(x => x.DataId == data.ParentId).FirstOrDefault();
                mainParentData = Model.Pages.Where(x => x.DataId == parentData.ParentId).FirstOrDefault();
            }
        }
    }

    if (parentData != null)
    {
        if (parentData.ParentId != 0)
        {
            leftMenu = Model.Pages.Where(x => x.ParentId == parentData.ParentId).ToList();
        }
    }
}
<footer>
    <div class="row margin-t40" style="background-color:#fbfbfb;border-bottom:1px solid #f0f0f0;padding-top:5px;padding-bottom:5px;">
        <div class="container">
            <div class="col-md-2 margin-t20 col-xs-6 col-sm-8">
                <form id="usualValidate" method="post" action="/NewsletterSave" enctype="multipart/form-data">
                    <fieldset>
                        <div class="input-group input-border1">
                            <input autocomplete="off" maxlength="50" type="email" class="form-control input-sm input-1" name="Email" placeholder="@AllTranslates.Where(x => x.DataId == 13).FirstOrDefault().Text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-ex" aria-label="send" style="color: #000; background: transparent;">
                                    <i class="fa fa-envelope-o" style="font-size:15px;"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
               
            </div>
            <div class="col-md-2 margin-t20 col-xs-6 col-sm-4">
                <div class="form-control input-sm input-1">
                    <a href="@("mailto:" + "?subject=Karya Akademi - " +data.Title+ "&body=" + Request.Url.AbsoluteUri)" target="_blank" class="b-friends">
                        @AllTranslates.Where(x => x.DataId == 213).FirstOrDefault().Text
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-xs-12 hidden-sm hidden-xs">
                <ol class="pull-right social ">
                    @foreach (var item in socialMedia)
                    {
                        <li>
                            <a href="@item.Link" target="_blank"><i class="@("fa fa-" + DAL.ExtensionMethod.ConvertToSocialMediaIcon(item.Name))"></i></a>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
    <div class="row margin-t30">
        <div class="container">
            <div class="col-md-4 col-xs-12 col-sm-7 margin-b10">
                @AllTranslates.Where(x => x.DataId == 15).FirstOrDefault().Text
            </div>
            <div class="col-md-8 col-xs-12 col-sm-5">
                <ol class="breadcrumb pull-right">
                    <li><a href="#"> Privacy </a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ol>
            </div>
        </div>
    </div>
</footer>
@*mobil menu*@
<div class="container-fluid">
    <div id="page" class="hidden-md hidden-lg " style="position: absolute;top: 0px;width: 100%;left: 0px;">
        <div class="col-xs-12 col-sm-12  mobile-social ">
            <div class="row">
                <div class="col-xs-12 col-sm-4 pull-right">
                    <ol class="pull-right">
                        @foreach (var item in socialMedia)
                        {
                            <li>
                                <a href="@item.Link" target="_blank"><i class="@("fa fa-" + DAL.ExtensionMethod.ConvertToSocialMediaIcon(item.Name))"></i></a>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
        <div class="header col-xs-12 col-sm-12 mobile-header ">
            <div class="row">
                <div class="col-xs-8 col-sm-3 ">
                    <a href="/">
                        <img src="/assets/img/ab_logo_small.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2 m-lang" style="text-align:right">
                    @foreach (var item in AllLanguages)
                    {
                        <a href="@("/ChangeLanguage/" + item.ShortName)" class="margin-r5">@item.Name</a>
                    }
                </div>
                <div class="col-xs-10 col-sm-6">
                    <form id="m">
                        <div class="input-group">
                            <input type="search" class="form-control form-control2" name="Search" placeholder="@AllTranslates.Where(x => x.DataId == 43).FirstOrDefault().Text" required="">
                            <div class="input-group-btn">
                                <button type="button" class="btn" aria-label="">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <a href="#menu" class="menu"></a>
                </div>
            </div>
        </div>
        <nav id="menu" class="">
            <ul>
                @foreach (var item in menu)
                {
                    <li>
                        <a href="@("/" + (item.Link.ToString() != string.Empty ? item.Link : "sayfa") + "/" + item.FriendlyUrl)">@item.Title</a>
                        <ul class="child bar2">
                            @foreach (var item2 in subMenu.Where(x => x.ParentId == item.DataId))
                            {
                                <li><a onclick="window.location = '@("/" + (item2.Link.ToString() != string.Empty ? item2.Link : "sayfa") + "/" + item2.FriendlyUrl)'">@item2.Title</a></li>
                            }
                        </ul>
                    </li>
                }
                <hr />
                @foreach (var item in leftMenu)
                {
                    var subData = Model.Pages.Where(x => x.ParentId == item.DataId).ToList();
                    string menuClass = null;

                    if (item.FriendlyUrl == friendlyUrl && subData.Count != 0)
                    {
                        menuClass = "active has-sub";
                    }
                    else if (item.FriendlyUrl == friendlyUrl && subData.Count == 0)
                    {
                        menuClass = ("activePage");
                    }
                    else if (item.FriendlyUrl != friendlyUrl && subData.Count != 0)
                    {
                        if (parentData != null)
                        {
                            if (parentData.FriendlyUrl == item.FriendlyUrl)
                            {
                                menuClass = ("active has-sub");
                            }
                            else
                            {
                                menuClass = ("has-sub");
                            }
                        }
                    }
                    <li class="@menuClass">
                        @if (subData.Count == 0)
                        {
                            <a onclick="window.location='@("/" + (item.Link.ToString() != string.Empty ? item.Link : "sayfa") + "/" + item.FriendlyUrl)'">@item.Title</a>
                        }
                        else
                        {
                            <a href="javascript:;">@item.Title</a>
                            <ul>
                                @foreach (var item2 in subData)
                                {
                                    <li class='active has-sub'>
                                        <a class="active" onclick="window.location = '@("/" + (item2.Link.ToString() != string.Empty ? item2.Link : "sayfa") + "/" + item2.FriendlyUrl)'">@item2.Title</a>
                                        @if (item2.Link.ToLower() == "peoples")
                                        {
                                            var subSubData = Model.Pages.Where(x => x.ParentId == item2.DataId).ToList();
                                            if (subSubData.Count > 0)
                                            {
                                                <ul>
                                                    @foreach (var item3 in subSubData)
                                                    {
                                                        <li><a onclick="window.location = '@("/" + item3.Link + "/" + item3.FriendlyUrl)'">@item3.Title</a></li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>

               
        </nav>
    </div>
</div>
@*mobil menu*@