﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "CalendarList";
    var AllTranslates = Model.Translates;
    var friendlyUrl = ViewContext.RouteData.Values["id"].ToString();
    var routePlace = ViewContext.RouteData.Values["place"].ToString();
    var routeCategory = ViewContext.RouteData.Values["category"].ToString();
    int routePlaceId = 0;
    int routeCategoryId = 0;
    int routeCategoryParentId = 0;
    var data = Model.Pages.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var eventCategory = Model.EventCategories.ToList();
    var events = Model.Events.ToList();
    var eventCategoryList = Model.EventCategories.OrderBy(x => x.ParentId).ThenBy(x => x.Title).ToList();
    var calendar = Model.Pages.Where(x => x.Link.ToLower() == "calendar").FirstOrDefault();

    @section MetaTags{
        <title>@("Karya Akademi - " + data.Title)</title>
        <meta name="keywords" content="@data.Keywords">
        <meta name="description" content="@data.Description">
        <meta name="author" content="@("Karya Akademi")">
    }

    if (routePlace != "all")
    {
        for (int i = 1; i < DAL.Enums.PlacesTypes.Count(); i++)
        {
            if (routePlace == DAL.Enums.PlacesTypes[i].ToLower())
            {
                routePlaceId = i;
                break;
            }
        }
    }

    if (routeCategory != "all")
    {
        if (eventCategory.Where(x => x.FriendlyUrl == routeCategory.ToLower()).FirstOrDefault() == null)
        {
            routeCategoryId = 0;
        }
        else
        {
            routeCategoryId = eventCategory.Where(x => x.FriendlyUrl == routeCategory.ToLower()).FirstOrDefault().Id;

            if (eventCategory.Where(x => x.ParentId != 0).Count() > 0)
            {
                routeCategoryParentId = eventCategory.Where(x => x.ParentId == routeCategoryId).FirstOrDefault().Id;
            }
        }
    }

    if (routePlace != "all" && routeCategory != "all")
    {
        events = Model.Events.Where(x => x.PlaceId == routePlaceId && (x.ParentId == routeCategoryId || x.ParentId == routeCategoryParentId)).ToList();
    }
    else if (routePlace != "all" && routeCategory == "all")
    {
        events = Model.Events.Where(x => x.PlaceId == routePlaceId).ToList();
    }
    else if (routePlace == "all" && routeCategory != "all")
    {
        events = Model.Events.Where(x => x.ParentId == routeCategoryId || x.ParentId == routeCategoryParentId).ToList();
    }
}

@Html.Partial("_Header")
<main class="container" style="margin-top:40px">
    <section class="col-md-10 col-md-offset-1">
        <!-- Filtre Start -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="margin-b25">@data.Title</h3>
                <div class="filter">
                    <div class="col-md-4 col-xs-4">
                        <div class="row">
                            <i class="glyphicon glyphicon-calendar" style="margin-right:5px"></i><a href="@("/" + calendar.Link + "/" + calendar.FriendlyUrl)">@AllTranslates.Where(x => x.DataId == 5).FirstOrDefault().Text</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-5 col-sm-5 text-right">
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <div class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        @AllTranslates.Where(x => x.DataId == 9).FirstOrDefault().Text
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        @for (int i = 1; i < DAL.Enums.PlacesTypes.Count(); i++)
                                        {
                                            <li><a href="@("/" + data.Link + "/" + DAL.Enums.PlacesTypes[i].ToLower() + "/all/" + data.FriendlyUrl)">@DAL.Enums.PlacesTypes[i].ToString()</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                @AllTranslates.Where(x => x.DataId == 11).FirstOrDefault().Text
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @foreach (var item2 in eventCategoryList)
                                {
                                    <li><a href="@("/" + data.Link + "/all/" + item2.FriendlyUrl + "/" + data.FriendlyUrl)">@item2.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filtre End -->
        @foreach (var item in events)
        {
            var parentData = eventCategory.Where(x => x.Id == item.ParentId).FirstOrDefault();
            <div class="row margin-t25 margin-b100">
                <figure class="col-md-3 col-xs-3 col-sm-3">
                    @if (item.Thumbnail.ToString() != string.Empty)
                    {
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item.Thumbnail)" class="img-responsive" style="width:100%" />
                    }
                    else
                    {
                        <img class="img-responsive" style="width:100%" />
                    }
                    <div class="caption text-center">
                        <span class="span1 line-bottom padding-b5">@Convert.ToDateTime(item.StartDate).ToString("dd")</span><br />
                        <span class="span2">@Convert.ToDateTime(item.StartDate).ToString("MMM")</span>
                    </div>
                </figure>
                <div class="col-md-9 col-xs-9 col-sm-9">
                    <h4 class="line-bottom3 margin-t0 padding-b10 ">
                        <a class="color6" href="@("/program/all/all/" + parentData.PageFriendlyUrl + "/" + item.FriendlyUrl)">@item.Title</a>
                    </h4>
                    <div class="row">
                        <div class=" col-md-12 padding-b10 ">
                            <div class=" line-bottom4 padding-b10">
                                <div class="row ">
                                    <div class="col-md-5 font12"><span>@(Convert.ToDateTime(item.StartDate).ToString("dd MMMM") + " - " + Convert.ToDateTime(item.EndDate).ToString("dd MMMM yyyy"))</span></div>
                                    <div class="col-md-3 font12"><span><strong>@DAL.Enums.PlacesTypes[(int)item.PlaceId]</strong> </span></div>
                                    <div class="col-md-4 font12 text-right"><a class="color1"><strong>@(parentData != null ? parentData.Title : string.Empty)</strong></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="nomargin font12 text-align1 font-hidden">@item.ShortContent</p>
                            <a href="@("/program/all/all/" + parentData.PageFriendlyUrl + "/" + item.FriendlyUrl)" class="detail">@AllTranslates.Where(x => x.DataId == 1).FirstOrDefault().Text</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</main>
@Html.Partial("_Footer")