﻿@model DAL.AdminMainProgress
@using DAL;

@{
    var AllLanguages = Model.Languages;
    var AllTranslates = Model.Translates;
    var MultiPreferences = Model.MultiPreferences.FirstOrDefault();
    var menu = Model.Pages.Where(x => x.ParentId == 0 && x.ShowMenu == true && x.Active == true).OrderBy(x => x.Order);
    var subMenu = Model.Pages.Where(x => x.ParentId != 0 && x.ShowMenu == true && x.Active == true).OrderBy(x => x.Order);
    var socialMedia = Model.SocialMedia.Where(x => x.Active == true).OrderBy(x => x.Order);
}

@section MetaTags{
    <title>@MultiPreferences.Title</title>
    <meta name="keywords" content="@MultiPreferences.Keywords">
    <meta name="description" content="@MultiPreferences.Description">
    <meta name="author" content="@("Karya Akademi")">
}

@Html.Partial("_Header")

@*mobil menu*@
<div class="hidden-lg hidden-md hidden-sm row">
    <img src="~/assets/img/bg.png" style=" height: 484px;max-height: 100%;min-height: 100%; margin-top: 140px;  width: 100%;" />
</div>
<div class="container-fluid">
    <div id="page" class="hidden-md hidden-lg " style="position: absolute;top: 0px;width: 100%;left: 0px;">
        <div class="col-xs-12 col-sm-12  mobile-social ">
            <div class="row">
                <div class="col-xs-12 col-sm-4 pull-right">
                    <ol class="pull-right">
                        @foreach (var item in socialMedia)
                        {
                        <li>
                            <a href="@item.Link" target="_blank"><i class="@("fa fa-" + DAL.ExtensionMethod.ConvertToSocialMediaIcon(item.Name))"></i></a>
                        </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
        <div class="header col-xs-12 col-sm-12 mobile-header ">
            <div class="row">
                <div class="col-xs-8 col-sm-3 ">
                    <a href="/">
                        <img src="/assets/img/ab_logo_small.png" class="img-responsive">
                    </a>

                </div>
                <div class="col-xs-4 col-sm-2 m-lang " style="text-align:right;">
                    @foreach (var item in AllLanguages)
                    {
                    <a href="@("/ChangeLanguage/" + item.ShortName)" class="margin-r5">@item.Name</a>
                    }
                </div>
                <div class="col-xs-10 col-sm-6">
                    <form id="m">
                        <div class="input-group">
                            <input type="search" class="form-control form-control2" name="Search" placeholder="@AllTranslates.Where(x => x.DataId == 43).FirstOrDefault().Text" required="">
                            <div class="input-group-btn">
                                <button type="button" class="btn" aria-label="">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <a href="#menu" class="menu"></a>
                </div>
            </div>
        </div>
        <nav id="menu" class="">
            <ul>
                @foreach (var item in menu)
                {
                <li>
                    <a href="@("/" + (item.Link.ToString() != string.Empty ? item.Link : "sayfa") + "/" + item.FriendlyUrl)">@item.Title</a>
                    <ul class="child bar2">
                        @foreach (var item2 in subMenu.Where(x => x.ParentId == item.DataId))
                            {
                            <li><a onclick="window.location = '@("/" + (item2.Link.ToString() != string.Empty ? item2.Link : "sayfa") + "/" + item2.FriendlyUrl)'">@item2.Title</a></li>
                            }
                    </ul>
                </li>
                }
            </ul>
        </nav>
    </div>
</div>
@*mobil menu*@

<div class="bottom-footer">
    <div class="container">

        <div class="col-md-8 col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-md-7  col-xs-12 col-sm-6">
                    <p style="color:#fff;line-height: 1.2;font-size: 9px;margin-top:15px;">@AllTranslates.Where(x => x.DataId == 45).FirstOrDefault().Text</p>
                </div>
                <div class="col-md-5  col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-md-7 col-xs-6 col-sm-6">
                            <img src="~/assets/img/GEKA-logo.png" class="img-responsive" />
                        </div>
                        <div class="col-md-5 col-xs-6 col-sm-6 text-center">
                            <img src="~/assets/img/KB-logo.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-t20  col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <form id="usualValidate" method="post" action="/NewsletterSave" enctype="multipart/form-data">
                        <fieldset>
                            <div class="input-group input-border2">
                                <input autocomplete="off" maxlength="50" type="email" class="form-control input-sm input-2" name="Email" placeholder="@AllTranslates.Where(x => x.DataId == 13).FirstOrDefault().Text">
                                <div class=" input-group-btn">
                                    <button type="button" class="btn btn-ex" aria-label="send" style="color: #fff; background: transparent;">
                                        <i class="fa fa-envelope-o" style="font-size:15px;color: #fff;"></i>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <ul class="ico-s col-md-6  col-xs-12 col-sm-6 hidden-xs hidden-sm">
                    @foreach (var item in socialMedia)
                    {
                    <li>
                        <a href="@item.Link" target="_blank"><i class="@("fa fa-" + DAL.ExtensionMethod.ConvertToSocialMediaIcon(item.Name))"></i></a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
