﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "PressKit";
    var AllTranslates = Model.Translates;
    var friendlyUrl = ViewContext.RouteData.Values["id"].ToString();
    var data = Model.Pages.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var pressKit = Model.Press.Where(x => x.ParentId == 34 && x.LanguageId == ViewBag.lang).ToList();
    bool isDetail = false;
    var DataIdDetail = String.Empty;

    if (ViewContext.RouteData.Values["dataid"] != null)
    {
        DataIdDetail = ViewContext.RouteData.Values["dataid"].ToString();
        isDetail = true;
    }
}

@Html.Partial("_Header")
<main class="container" style="margin-top:40px">
    @Html.Partial("_LeftMenu")
    @if (isDetail == false)
    {
        @* Press Kit Start *@
        @section MetaTags{
            <title>@("Karya Akademi - " + data.Title)</title>
            <meta name="keywords" content="@data.Keywords">
            <meta name="description" content="@data.Description">
            <meta name="author" content="@("Karya Akademi")">
        }
        <section class="col-md-9 margin-t15">
            <div class="row">
                <div class="col-md-11">
                    <h3 class="margin-b25">@data.Title</h3>
                </div>
                <div class="col-md-12">
                    <div class="line-bottom3 margin-b50"></div>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" data-delay=" ">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            @foreach (var item in pressKit)
                            {
                                <div class="col-sm-12 col-md-12 margin-b50">
                                    <div class="row">
                                        <figure class="col-md-3">
                                            <a href="@(data.FriendlyUrl + "/" + item.FriendlyUrl)"><img src="@(item.Thumbnail.ToString() != string.Empty ? System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item.Thumbnail : "/assets/img/bodrum-img.jpg")" class="img-responsive" /></a>
                                        </figure>
                                        <div class="carousel-font col-md-9">
                                            <h4 class="nomargint"><a href="@(data.FriendlyUrl + "/" + item.FriendlyUrl)">@item.Title</a></h4>

                                            <p>@Html.Raw(item.ShortContent)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* Press Kit End *@
    }
    else
    {
        @* Press Detail Start *@
        var detailData = pressKit.Where(x => x.FriendlyUrl == DataIdDetail).FirstOrDefault();
        if (detailData != null)
        {
            @section MetaTags{
                <title>@("Karya Akademi - " + detailData.Title)</title>
                <meta name="keywords" content="@detailData.Keywords">
                <meta name="description" content="@detailData.Description">
                <meta name="author" content="@("Karya Akademi")">
            }
            <section class="col-md-9 margin-t15">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="margin-b25">@detailData.Title</h3>
                        <h4 class="italic-title">@detailData.ShortContent</h4>
                        @if (detailData.Image.ToString() != string.Empty)
                        {
                            <figure class="margin-b30 margin-t30">
                                <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + detailData.Image)" class="img-responsive" />
                            </figure>
                        }
                        @Html.Raw(detailData.Content)
                    </div>
                </div>

                @if (detailData.Galleries != "0")
                {
                    string[] galleriesMain = detailData.Galleries.Split(',');
                    var galCat = Model.GalleryCategories.Where(a => galleriesMain.Contains(a.DataId.ToString()));

                    foreach (var item in galCat)
                    {
                        <div class="col-md-12 line-top1 line-bottom3 margin-b25 ">
                            <div class="row padding-t15 padding-b15">
                                <div class="col-md-6 ">
                                    <h5>@item.Title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-b20">
                            <div class="row">
                                @{int u = 1;}
                                @foreach (var item2 in Model.Gallery.Where(x => x.ParentId == item.DataId))
                                {
                                    <div class="col-md-4 col-xs-6 margin-b25" style="@(u > 3 ? "display:none;" : string.Empty)">
                                        <figure class="margin-b10 thumb">
                                            <a class="fancybox-thumbs" rel="@item2.ParentId" href="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)">
                                                <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)" alt="" class="img-responsive" data-small-image="@item2.ParentId" />
                                            </a>
                                        </figure>
                                    </div>
                                    u++;
                                }
                            </div>
                        </div>
                    }

                    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
                            <div class="modal-content col-md-12">
                                <div class="modal-body">
                                    <img src="" alt="" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                @if (!string.IsNullOrEmpty(detailData.File))
                {
                    <div class="col-md-2 margin-t20 col-xs-6 col-sm-2 pull-right">
                        <div class="form-control input-sm input-1">
                            <a href="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + detailData.File)" target="_blank" class="b-download">
                                @AllTranslates.Where(x => x.DataId == 21).FirstOrDefault().Text
                            </a>
                        </div>
                    </div>
                }

            </section>
        }
        @* Press Detail End *@
    }
</main>
@Html.Partial("_Footer")