﻿@model DAL.AdminMainProgress
@using DAL;

@{
    var friendlyUrl = ViewContext.RouteData.Values["id"].ToString();
    var data = Model.Pages.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var parentData = Model.Pages.Where(x => x.DataId == data.ParentId).FirstOrDefault();
    var haveSubData = Model.Pages.Where(x => x.ParentId == data.DataId).FirstOrDefault();

    @section MetaTags{
        <title>@("Karya Akademi - " + data.Title)</title>
        <meta name="keywords" content="@data.Keywords">
        <meta name="description" content="@data.Description">
        <meta name="author" content="@("Karya Akademi")">
    }

    if (haveSubData != null)
    {
        if (haveSubData.Link.ToString() != string.Empty)
        {
            Response.Redirect("/" + haveSubData.Link + "/" + haveSubData.FriendlyUrl);
        }
        else
        {
            Response.Redirect("/sayfa/" + haveSubData.FriendlyUrl);
        }
    }
}

@Html.Partial("_Header")
<main class="container" style="margin-top:40px">
    @Html.Partial("_LeftMenu")
    <section class="col-md-9 col-xs-12 col-sm-12 margin-t15">


        <div class="row">
            <div class="col-md-12  col-xs-12 col-sm-12">
                <h3 class="margin-b25">@data.Title</h3>
                @if (data.ShortContent.ToString() != string.Empty)
                {
                    <h4 class="italic-title">@data.ShortContent</h4>
                }
                @if (data.Image.ToString() != string.Empty)
                {
                    <figure>
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + data.Image)" class="img-responsive margin-b25" width="100%" />
                    </figure>
                }
                @Html.Raw(data.Content.Replace("/Content/images/", System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + "/Content/images/"))
                @if (data.Video.ToString() != string.Empty)
                {
                    @Html.Raw(data.Video)
                }
            </div>
        </div>

        @if (data.Galleries != "0")
        {
            string[] galleriesMain = data.Galleries.Split(',');
            var galCat = Model.GalleryCategories.Where(a => galleriesMain.Contains(a.DataId.ToString()));

            foreach (var item in galCat)
            {
                <div class="col-md-12 line-top1 line-bottom3 margin-b25 ">
                    <div class="row padding-t15 padding-b15">
                        <div class="col-md-6 ">
                            <h5>@item.Title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-b20">
                    <div class="row">
                        @{int u = 1;}
                        @foreach (var item2 in Model.Gallery.Where(x => x.ParentId == item.DataId))
                        {
                            <div class="col-md-4 col-xs-6 margin-b25" style="@(u > 3 ? "display:none;" : string.Empty)">
                                <figure class="margin-b10 thumb">
                                    <a class="fancybox-thumbs" rel="@item2.ParentId" href="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)">
                                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)" alt="" class="img-responsive" data-small-image="@item2.ParentId" />
                                    </a>
                                </figure>
                            </div>
                            u++;
                        }
                    </div>
                </div>

            }



            <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="modal-content col-md-12">
                        <div class="modal-body">
                            <img src="" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (data.FormId != 0)
        {
            @Html.Partial(DAL.Enums.FormPages[(int)data.FormId])
        }

        @if (!string.IsNullOrEmpty(data.File))
        {
            <div class="col-md-2 margin-t20 col-xs-6 col-sm-2 pull-right">
                <div class="form-control input-sm input-1">
                    <a href="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + data.File)" target="_blank" class="b-download">
                        İNDİR
                    </a>
                </div>
            </div>
        }

    </section>
</main>
@Html.Partial("_Footer")