﻿@model DAL.AdminMainProgress
@using DAL;

@{
    var AllTranslates = Model.Translates;
    var text = ViewContext.RouteData.Values["text"].ToString().ToLower();
    var pages = Model.Pages.Where(x => x.Title.ToLower().Contains(text) || x.ShortContent.ToLower().Contains(text)).ToList();
    var peoples = Model.Peoples.Where(x => x.Name.ToLower().Contains(text) || x.Surname.ToLower().Contains(text) || x.Title.ToLower().Contains(text) || x.ShortContent.ToLower().Contains(text)).ToList();
    var events = Model.Events.Where(x => x.Title.ToLower().Contains(text) || x.ShortContent.ToLower().Contains(text)).ToList();
    int count = pages.Count + peoples.Count;

    @section MetaTags{
        <title>@("Karya Akademi: " + text)</title>
    }
}

@Html.Partial("_Header")
<main class="container" style="margin-top:40px">
    <section class="col-md-11 margin-t15">
        <div class="row">
            <div class="col-md-12 margin-b25 ">
                <h3 class="margin-b25">@AllTranslates.Where(x => x.DataId == 33).FirstOrDefault().Text</h3>
                <p class="line-bottom2 padding-b15">
                    <b>@AllTranslates.Where(x => x.DataId == 35).FirstOrDefault().Text</b> <b>@count</b>
                </p>
            </div>
            <div class="col-md-12 margin-b25">
                <p><strong>@AllTranslates.Where(x => x.DataId == 37).FirstOrDefault().Text</strong></p>
                <p class="line-bottom2 padding-b15">
                    @foreach (var pagesItem in pages)
                    {
                        <a href="@("/sayfa/" + pagesItem.FriendlyUrl)">@pagesItem.Title</a><br />
                    }
                </p>
            </div>
            <div class="col-md-12 margin-b25">
                <p><strong>@AllTranslates.Where(x => x.DataId == 38).FirstOrDefault().Text</strong></p>
                <p class="line-bottom2 padding-b15">
                    @foreach (var peoplesItem in peoples)
                    {
                        var parentPeoplesItem = Model.PeopleCategories.Where(x => x.Id == peoplesItem.ParentId).FirstOrDefault();
                        <a href="@("/peoples/" + parentPeoplesItem.PageFriendlyUrl + "/" + peoplesItem.FriendlyUrl)">@Html.Raw(peoplesItem.Name + " " + peoplesItem.Surname)</a><br />
                    }
                </p>
            </div>
            <div class="col-md-12 margin-b25">
                <p><strong>@AllTranslates.Where(x => x.DataId == 39).FirstOrDefault().Text</strong></p>
                <p class="line-bottom2 padding-b15">
                    @foreach (var eventsItem in events)
                    {
                        var parentEventsItem = Model.EventCategories.Where(x => x.Id == eventsItem.ParentId).FirstOrDefault();
                        <a href="@("/program/all/all/" + parentEventsItem.PageFriendlyUrl + "/" + eventsItem.FriendlyUrl)">@eventsItem.Title</a><br />
                    }
                </p>
            </div>
        </div>
    </section>
</main>
@Html.Partial("_Footer")