﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Sponsorship";
    var AllTranslates = Model.Translates;
    var friendlyUrl = ViewContext.RouteData.Values["id"].ToString();
    var data = Model.Pages.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var supporterCategory = Model.SupporterCategories.Where(x => x.TypeId == 2).ToList();
    var supporters = Model.Supporters.ToList();

    @section MetaTags
{
        <title>@("Karya Akademi - " + data.Title)</title>
        <meta name="keywords" content="@data.Keywords">
        <meta name="description" content="@data.Description">
        <meta name="author" content="@("Karya Akademi")">
    }
}

@Html.Partial("_Header")
<main class="container" style="margin-top:40px">
    @Html.Partial("_LeftMenu")
    <section class="col-md-9 margin-t15">
        <div class="row">
            <div class="col-md-12">
                <h3 class="margin-b25">@data.Title</h3>
                <p class="padding-b25 hidden">
                    @AllTranslates.Where(x => x.DataId == 19).FirstOrDefault().Text
                </p>
                @foreach (var item in supporterCategory)
                {
                    <h4 class="line-bottom2 padding-b10 margin-t25">@item.Title</h4>
                    <p class="padding-b25 hidden">
                        @Html.Raw(item.Content)
                    </p>
                    <div class="row margin-t25">
                        @foreach (var item2 in supporters.Where(x => x.ParentId == item.Id))
                        {
                            <figure class="col-md-2 padding-b25">
                                <a href="@(item2.Url.ToString() != string.Empty ? item2.Url : "javascript:;")" target="_blank">
                                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)" alt="@item2.Title" title="@item2.Title" class="img-responsive " />
                                </a>
                            </figure>
                        }
                    </div>
                }
            </div>
        </div>
    </section>
</main>
@Html.Partial("_Footer")