﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Visuals";
    var AllTranslates = Model.Translates;
    var friendlyUrl = ViewContext.RouteData.Values["id"].ToString();
    var data = Model.Pages.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var galleryParentCategory = Model.GalleryParentCategories.Where(x => x.FriendlyUrl == friendlyUrl).FirstOrDefault();
    var galleryCategory = Model.GalleryCategories.Where(x => x.ParentId == galleryParentCategory.Id).ToList();
    var gallery = Model.Gallery.ToList();

    @section MetaTags{
        <title>@("Karya Akademi - " + data.Title)</title>
        <meta name="keywords" content="@data.Keywords">
        <meta name="description" content="@data.Description">
        <meta name="author" content="@("Karya Akademi")">
    }
}

@Html.Partial("_Header")
<main class="container" style="margin-top:40px">
    @Html.Partial("_LeftMenu")
    <section class="col-md-9 margin-t15">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="margin-b25">@data.Title</h3>
                    </div>
                </div>
            </div>
            @foreach (var item in galleryCategory)
            {
                <div class="col-md-12 line-top1 line-bottom3 margin-b25 ">
                    <div class="row padding-t15 padding-b15">
                        <div class="col-md-6 ">
                            <h5>@item.Title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-b20">
                    <div class="row">
                        @{ int u = 1; }
                        @foreach (var item2 in gallery.Where(x => x.ParentId == item.DataId))
                        {
                            <div class="col-md-4 col-xs-6 margin-b25" style="@(u > 3 ? "display:none;" : string.Empty)">
                                <figure class="margin-b10 thumb">
                                    <a class="fancybox-thumbs" rel="@item2.ParentId" href="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)">
                                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["FilesPath"] + item2.Image)" alt="" class="img-responsive"  data-small-image="@item2.ParentId" />
                                    </a>
                                </figure>
                            </div>
                            u++;
                        }
                    </div>
                </div>
            }
        </div>
    </section>
</main>
@Html.Partial("_Footer")