﻿@model DAL.AdminMainProgress
@using DAL

<select id="ChangeLanguage" name="SelectLanguage" style="float:right !important;">
    @foreach (var item in Model.Languages.Where(x => x.Active == true))
    {
        if (Session["AdminLanguage"] != null && int.Parse(Session["AdminLanguage"].ToString()) == item.Id)
        {
            <option value="@item.Id" selected="selected">@item.Name</option>
        }
        else
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>
<div class="ChooseLang"></div>