﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["Events"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Etkinlikler</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tanım</th>
                        <th>Kategori</th>
                        <th>Yer</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var events in Model.Events.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        var parent = Model.EventCategories.Where(x => x.Id == events.ParentId).FirstOrDefault();
                        var placeId = DAL.Enums.PlacesTypes[int.Parse(events.PlaceId.ToString())];
                        <tr class="gradeU">
                            <td>
                                @events.Id
                            </td>
                            <td>
                                <span>@events.Title</span>
                            </td>
                            <td>
                                @if (parent != null)
                                {
                                    <span>@parent.Title</span>
                                }
                            </td>
                            <td>
                                @if (placeId != null)
                                {
                                    <span>@placeId</span>
                                }
                            </td>

                            <td>
                                <span>@Convert.ToDateTime(events.StartDate).ToShortDateString()</span>
                            </td>
                            <td>
                                <span>@Convert.ToDateTime(events.EndDate).ToShortDateString()</span>
                            </td>
                            <td>
                                @if (events.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="eventsIsActive" id="@events.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="eventsIsActive" id="@events.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@events.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@events.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/EventsSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["Events"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Events"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetEvents().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                        {
                            var isHave = Model.GetEvents().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["Events"] != null && item.DataId == int.Parse(Session["Events"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Yer:</label>
                        <div class="formRight selectDown">
                            <select name="PlaceId" class="aktifPasif" required="required">
                                <option value="">- Seçiniz -</option>
                                @for (int i = 1; i < DAL.Enums.PlacesTypes.Length; i++)
                                {
                                    <option value="@i">@DAL.Enums.PlacesTypes[i]</option>
                                }
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kategori:</label>
                        <div class="formRight selectDown">
                            <select class="aktifPasif" id="ParentId" name="ParentId" required="required">
                                <option value="">- Seçiniz -</option>
                                @foreach (var item in Model.EventCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true))
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Tanım:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kısa Açıklama:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="ShortContent" id="ShortContent" maxlength="1500" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İçerik:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="Content"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Önizleme (Thumbnail):</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Görsel:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Konuşmacılar:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Leaders" id="Leaders" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Katılımcılar:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Participants" id="Participants" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Başlangıç Tarihi:</label>
                        <div class="formRight"><input autocomplete="off" type="date" class="required" name="StartDate" id="StartDate" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Başlangıç Saati:</label>
                        <div class="formRight"><input autocomplete="off" type="time" class="required" name="StartTime" id="StartTime" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Bitiş Tarihi:</label>
                        <div class="formRight"><input autocomplete="off" type="date" class="required" name="EndDate" id="EndDate" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Form:</label>
                        <div class="formRight selectDown">
                            <select name="FormId" class="aktifPasif" required="required">
                                <option value="0">- Yok -</option>
                                @for (int i = 1; i < DAL.Enums.FormPages.Length; i++)
                                {
                                    <option value="@i">@DAL.Enums.FormPages[i]</option>
                                }
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Friendly Url:</label>
                        <div class="formRight"><input autocomplete="off" type="text" placeholder="Boş bırakırsanız, kategori adı ve etkinlik başlığı baz alınacaktır." name="FriendlyUrl" id="FriendlyUrl" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Keywords:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Keywords" id="Keywords" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Description:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Description" id="Description" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.Events.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderByDescending(x => x.StartDate))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Title</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="EventsSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var events = Model.Events.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (events != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/EventsUpdate">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@events.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetEvents().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == events.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@events.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Yer:</label>
                                <div class="formRight selectDown">
                                    <select name="PlaceId" class="aktifPasif" required="required">
                                        <option value="">- Seçiniz -</option>
                                        @for (int i = 1; i < DAL.Enums.PlacesTypes.Length; i++)
                                        {
                                            if (events.PlaceId == i)
                                            {
                                                <option value="@i" selected="selected">@DAL.Enums.PlacesTypes[i]</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@DAL.Enums.PlacesTypes[i]</option>
                                            }
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kategori:</label>
                                <div class="formRight selectDown">
                                    <select class="aktifPasif" id="ParentId" name="ParentId" required="required">
                                        <option value="">- Seçiniz -</option>
                                        @foreach (var item in Model.EventCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true))
                                        {
                                            if (events.ParentId == item.Id)
                                            {
                                                <option value="@item.Id" selected="selected">@item.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tanım:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@events.Title" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kısa Açıklama:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="ShortContent" value="@events.ShortContent" maxlength="1500" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İçerik:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="Content">@events.Content</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Önizleme (Thumbnail):</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Thumbnail" name="Thumbnail" type="text" size="60" maxlength="50" value="@events.Thumbnail" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Thumbnail');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Görsel:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" value="@events.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Konuşmacı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Leaders" value="@events.Leaders" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Katılımcılar:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Participants" value="@events.Participants" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Başlangıç Tarihi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="date" class="required" name="StartDate" value="@Convert.ToDateTime(events.StartDate).ToString("yyyy-MM-dd")" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Başlangıç Saati:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="time" class="required" name="StartTime" value="@events.StartTime" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Bitiş Tarihi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="date" class="required" name="EndDate" value="@Convert.ToDateTime(events.EndDate).ToString("yyyy-MM-dd")" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Form:</label>
                                <div class="formRight selectDown">
                                    <select name="FormId" class="aktifPasif" required="required">
                                        <option value="0">- Yok -</option>
                                        @for (int i = 1; i < DAL.Enums.FormPages.Length; i++)
                                        {
                                            if (events.FormId == i)
                                            {
                                                <option value="@i" selected="selected">@DAL.Enums.FormPages[i]</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@DAL.Enums.FormPages[i]</option>
                                            }
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Friendly Url:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" placeholder="Boş bırakırsanız, kategori adı ve etkinlik başlığı baz alınacaktır." name="FriendlyUrl" value="@events.FriendlyUrl" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Keywords:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Keywords" value="@events.Keywords" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Description:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Description" value="@events.Description" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (events.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["Events"] = Id;
                Response.Redirect("Events?action=add");
            }
        }
    }
}