﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "MultiPreferences";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];

    if (Session["AdminLanguage"] == null)
    {
        Session["AdminLanguage"] = 1;
    }

    var LanguageId = Session["AdminLanguage"].IllegalCharRemove().ObjectConvertToInt();

    if (LanguageId != 0 && LanguageId > 0)
    {
        var multipreferences = Model.MultiPreferences.Where(x => x.LanguageId == LanguageId).FirstOrDefault();
        if (multipreferences != null)
        {
            @Html.Action("ChangeLanguage")
            <form id="usualValidate" class="mainForm" style="float:left;width:100%;" method="post" action="/Admin/MultiPreferencesUpdate">
                <fieldset>
                    <div class="widget">
                        <div class="head"><h5 class="iLocked">Site Tercihleri</h5></div>
                        <input autocomplete="off" type="hidden" name="Id" value="@LanguageId" />
                        <div class="rowElem noborder">
                            <label>Site Title:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Title" value="@multipreferences.Title" maxlength="50" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Meta Description:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Description" value="@multipreferences.Description" maxlength="200" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="rowElem noborder">
                            <label>Meta Keywords:</label>
                            <div class="formRight">
                                <input autocomplete="off" type="text" class="required" name="Keywords" value="@multipreferences.Keywords" maxlength="200" /><div class="fix"></div>
                            </div>
                        </div>
                        <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                        <div class="fix"></div>
                    </div>
                </fieldset>
            </form>
        }
        else
        {
            Session["MultiPreferences"] = LanguageId;
            Response.Redirect("Index");
        }
    }
}