﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "PanelMenu";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>

@{
    var action = Request.QueryString["action"];
    if (action != "add" && action != "update" && action != "sort")
    {
        Session["PanelMenu"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Panel Başlıkları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Üst Başlık</th>
                        <th>Başlık</th>
                        <th>Link</th>
                        <th>Yönlendirme</th>
                        <th>Yetki Seviyesi</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var panelmenu in Model.PanelMenu)
                    {
                        var parentId = Model.PanelMenu.Where(x => x.Id == panelmenu.ParentId).FirstOrDefault();
                        <tr class="gradeU">
                            <td>
                                @panelmenu.Id
                            </td>
                            <td>
                                <span>@(parentId != null ? parentId.Name : "-")</span>
                            </td>
                            <td>
                                <span>@panelmenu.Name</span>
                            </td>
                            <td>
                                <span>@panelmenu.Url</span>
                            </td>
                            <td>
                                <span>@panelmenu.Redirect</span>
                            </td>
                            <td>
                                <span>@panelmenu.Access</span>
                            </td>
                            <td>
                                @if (panelmenu.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="panelmenuIsActive" id="@panelmenu.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="panelmenuIsActive" id="@panelmenu.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@panelmenu.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@panelmenu.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/PanelMenuSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["PanelMenu"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["PanelMenu"].ObjectConvertToInt()" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Üst Başlık:</label>
                        <div class="formRight selectDown">
                            <select name="ParentId" class="aktifPasif" required="required">
                                <option value="0">- Yok -</option>
                                @{int i = 1;}
                                @foreach (var item in Model.PanelMenu.Where(x => x.ParentId == 0 && x.Active == true))
                                {
                                    if (item != null)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                        i++;
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Başlık:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Name" id="Name" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Url:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Url" id="Url" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Yönlendirme:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Redirect" id="Redirect" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Yetki Seviyesi:</label>
                        <div class="formRight"><input autocomplete="off" type="number" class="required" name="Access" id="Access" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.PanelMenu.OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Name</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="PanelMenuSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var panelmenu = Model.PanelMenu.Where(x => x.Id == Id).FirstOrDefault();
            if (panelmenu != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/PanelMenuUpdate">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@Id" />
                            <div class="rowElem noborder">
                                <label>Üst Başlık:</label>
                                <div class="formRight selectDown">
                                    <select name="ParentId" class="aktifPasif" required="required">
                                        <option value="0">- Yok -</option>
                                        @foreach (var item in Model.PanelMenu.Where(x => x.ParentId == 0).OrderBy(x => x.Name))
                                        {
                                            if (item != null && item.Id != panelmenu.Id)
                                            {
                                                if (item.Id == panelmenu.ParentId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Başlık:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Name" value="@panelmenu.Name" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Url:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Url" value="@panelmenu.Url" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Redirect:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Redirect" value="@panelmenu.Redirect" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Yetki Seviyesi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Access" value="@panelmenu.Access" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (panelmenu.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["PanelMenu"] = Id;
                Response.Redirect("PanelMenu?action=add");
            }
        }
    }
}