﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Peoples";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["Peoples"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Kişiler</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Ünvan</th>
                        <th>Kategori</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var peoples in Model.Peoples.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        var parent = Model.PeopleCategories.Where(x => x.Id == peoples.ParentId).FirstOrDefault();
                        <tr class="gradeU">
                            <td>
                                @peoples.Id
                            </td>
                            <td>
                                <span>@peoples.Name</span>
                            </td>
                            <td>
                                <span>@peoples.Surname</span>
                            </td>
                            <td>
                                <span>@peoples.Title</span>
                            </td>
                            <td>
                                @if (parent != null)
                                {
                                    <span>@parent.Title</span>
                                }
                            </td>
                            <td>
                                @if (peoples.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="peoplesIsActive" id="@peoples.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="peoplesIsActive" id="@peoples.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@peoples.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@peoples.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/PeoplesSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["Peoples"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Peoples"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetPeoples().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Name))
                        {
                            var isHave = Model.GetPeoples().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["Peoples"] != null && item.DataId == int.Parse(Session["Peoples"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@(item.Name + " " + item.Surname)</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@(item.Name + " " + item.Surname)</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Kategori:</label>
                        <div class="formRight selectDown">
                            <select class="aktifPasif" id="ParentId" name="ParentId" required="required">
                                <option value="">- Seçiniz -</option>
                                @foreach (var item in Model.PeopleCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true))
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Ad:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Name" id="Name" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Soyad:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Surname" id="Surname" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Ünvan:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>E-posta:</label>
                        <div class="formRight"><input autocomplete="off" type="email" name="Email" id="Email" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Görsel:</label>
                        <div class="formRight">
                            <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" />
                            <div class="fix"><br /></div>
                            <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                        </div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kısa İçerik:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="ShortContent" maxlength="1500"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İçerik:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="Content"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Friendly Url:</label>
                        <div class="formRight"><input autocomplete="off" type="text" placeholder="Boş bırakırsanız, ad ve soyad baz alınacaktır." name="FriendlyUrl" id="FriendlyUrl" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Keywords:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Keywords" id="Keywords" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Description:</label>
                        <div class="formRight"><input autocomplete="off" type="text" name="Description" id="Description" maxlength="150" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.Peoples.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Name</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="PeoplesSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var peoples = Model.Peoples.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (peoples != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/PeoplesUpdate">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@peoples.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetPeoples().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == peoples.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@peoples.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Kategori:</label>
                                <div class="formRight selectDown">
                                    <select class="aktifPasif" id="ParentId" name="ParentId" required="required">
                                        <option value="">- Seçiniz -</option>
                                        @foreach (var item in Model.PeopleCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true))
                                        {
                                            if (peoples.ParentId == item.Id)
                                            {
                                                <option value="@item.Id" selected="selected">@item.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Name" value="@peoples.Name" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Surname" value="@peoples.Surname" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ünvan:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@peoples.Title" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="email" name="Email" value="@peoples.Email" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Görsel:</label>
                                <div class="formRight">
                                    <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" value="@peoples.Image" />
                                    <div class="fix"><br /></div>
                                    <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kısa İçerik:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="ShortContent" maxlength="1500">@peoples.ShortContent</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İçerik:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="Content">@peoples.Content</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Friendly Url:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" placeholder="Boş bırakırsanız, ad ve soyad baz alınacaktır." name="FriendlyUrl" value="@peoples.FriendlyUrl" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Keywords:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Keywords" value="@peoples.Keywords" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Description:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" name="Description" value="@peoples.Description" maxlength="150" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (peoples.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["Peoples"] = Id;
                Response.Redirect("Peoples?action=add");
            }
        }
    }
}