﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "Supporters";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["Supporters"] = null;
    <div class="table">
        <div class="head"><h5 class="iFrames">Destekçiler</h5></div>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tanım</th>
                    <th>Görsel</th>
                    <th>Kategori</th>
                    <th>Aktif</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var supporters in Model.Supporters.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        var parent = Model.SupporterCategories.Where(x => x.Id == supporters.ParentId).FirstOrDefault();
                    <tr class="gradeU">
                        <td>
                            @supporters.Id
                        </td>
                        <td>
                            <span>@supporters.Title</span>
                        </td>
                        <td>
                            <img height="50" src="@(System.Configuration.ConfigurationManager.AppSettings["UploadUrl"] + supporters.Image)" />
                        </td>
                        <td>
                            @if (parent != null)
                                {
                                <span>@parent.Title</span>
                                }
                        </td>
                        <td>
                            @if (supporters.Active == true)
                                {
                                <input autocomplete="off" type="checkbox" name="Active" class="supportersIsActive" id="@supporters.Id" checked="checked" />
                                }
                                else
                                {
                                <input autocomplete="off" type="checkbox" name="Active" class="supportersIsActive" id="@supporters.Id" />
                                }
                        </td>
                        <td class="center">
                            <a href="?action=update&Id=@supporters.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                            <a href="#" style="padding-left:10px" onclick="DeleteData(@supporters.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
    }
    else if (action == "add")
    {
    <form id="usualValidate" class="mainForm" method="post" action="/Admin/SupportersSave" enctype="multipart/form-data">
        <fieldset>
            <div class="widget">
                <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                @{
        if (Session["Supporters"] != null)
        {
                    <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["Supporters"].ObjectConvertToInt()" />
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
                    <div class="rowElem noborder">
                        <label>Orijinal İçerik:</label>
                        <div class="formRight selectDown">
                            <select id="DataId" name="DataId" class="required">
                                <option value="">- Seçiniz -</option>
                                @foreach (var item in Model.GetSupporters().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                        {
                            var isHave = Model.GetSupporters().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["Supporters"] != null && item.DataId == int.Parse(Session["Supporters"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        }
                            </select>
                        </div>
                    </div>
                    <div class="ChooseLang"></div>
        }
        else
        {
                    <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                }
                <div class="rowElem noborder">
                    <label>Kategori:</label>
                    <div class="formRight selectDown">
                        <select class="aktifPasif" id="ParentId" name="ParentId" required="required">
                            <option value="">- Seçiniz -</option>
                            @foreach (var item in Model.SupporterCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.TypeId).ThenBy(x => x.Title))
                                {
                                <option value="@item.Id">@(DAL.Enums.SupporterCategoriesTypes[(int)item.TypeId] + " > " + item.Title)</option>
                                }
                        </select>
                    </div>
                </div>
                <div class="rowElem noborder">
                    <label>Tanım:</label>
                    <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                </div>
                <div class="rowElem noborder">
                    <label>Görsel:</label>
                    <div class="formRight">
                        <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" required="required" />
                        <div class="fix"><br /></div>
                        <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                    </div>
                </div>
                <div class="rowElem noborder">
                    <label>Url:</label>
                    <div class="formRight"><input autocomplete="off" type="text" name="Url" id="Url" /></div>
                </div>
                <div class="rowElem noborder">
                    <label>Durum:</label>
                    <div class="formRight selectDown">
                        <select name="Active" class="aktifPasif">
                            <option value="0">Aktif</option>
                            <option value="1">Pasif</option>
                        </select>
                    </div><div class="fix"></div>
                </div>
                <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                <div class="fix"></div>
            </div>
        </fieldset>
    </form>
    }
    else if (action == "sort")
    {
    <div class="widget">
        <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
        <ul id="sortable">
            @foreach (var pageItem in Model.Supporters.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Title</li>
                }
        </ul>
        <a href="#" class="btnIconLeftGreen" id="SupportersSaveSort"><span>KAYDET</span></a>
    </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var supporters = Model.Supporters.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (supporters != null)
            {
    <form id="usualValidate" class="mainForm" method="post" action="/Admin/SupportersUpdate">
        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        <fieldset>
            <div class="widget">
                <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                <input autocomplete="off" type="hidden" name="Id" value="@supporters.DataId" />
                @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                    <div class="rowElem noborder">
                        <label>Orijinal İçerik:</label>
                        <div class="formRight selectDown">
                            <select id="DataId" name="DataId" class="required">
                                <option value="">- Seçiniz -</option>
                                @foreach (var item in Model.GetSupporters().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == supporters.DataId)
                                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                            </select>
                        </div>
                    </div>
                    <div class="ChooseLang"></div>
                            }
                            else
                            {
                    <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@supporters.DataId" />
                            }
                <div class="rowElem noborder">
                    <label>Kategori:</label>
                    <div class="formRight selectDown">
                        <select class="aktifPasif" id="ParentId" name="ParentId" required="required">
                            <option value="">- Seçiniz -</option>
                            @foreach (var item in Model.SupporterCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString()) && x.Active == true).OrderBy(x => x.TypeId).ThenBy(x => x.Title))
                                        {
                                            if (supporters.ParentId == item.Id)
                                            {
                                <option value="@item.Id" selected="selected">@(DAL.Enums.SupporterCategoriesTypes[(int)item.TypeId] + " > " + item.Title)</option>
                                            }
                                            else
                                            {
                                <option value="@item.Id">@(DAL.Enums.SupporterCategoriesTypes[(int)item.TypeId] + " > " + item.Title)</option>
                                            }
                                        }
                        </select>
                    </div>
                </div>
                <div class="rowElem noborder">
                    <label>Tanım:</label>
                    <div class="formRight">
                        <input autocomplete="off" type="text" class="required" name="Title" value="@supporters.Title" /><div class="fix"></div>
                    </div>
                </div>
                <div class="rowElem noborder">
                    <label>Görsel:</label>
                    <div class="formRight">
                        <input autocomplete="off" id="Image" name="Image" type="text" size="60" maxlength="50" value="@supporters.Image" />
                        <div class="fix"><br /></div>
                        <input autocomplete="off" type="button" value="Görsel Seç" onclick="BrowseServerImage('Image');" class="btn55" />
                    </div><div class="fix"></div>
                </div>
                <div class="rowElem noborder">
                    <label>Url:</label>
                    <div class="formRight">
                        <input autocomplete="off" type="text" name="Url" value="@supporters.Url" /><div class="fix"></div>
                    </div>
                </div>
                <div class="rowElem noborder">
                    <label>Durum:</label>
                    <div class="formRight selectDown">
                        <select name="Active" class="aktifPasif">
                            @if (supporters.Active == true)
                                        {
                                <option value="0" selected="selected">Aktif</option>
                                <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                <option value="0">Aktif</option>
                                <option value="1" selected="selected">Pasif</option>
                                        }
                        </select>
                    </div><div class="fix"></div>
                </div>
                <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                <div class="fix"></div>
            </div>
        </fieldset>
    </form>
            }
            else
            {
                Session["Supporters"] = Id;
                Response.Redirect("Supporters?action=add");
            }
        }
    }
}