﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "SupporterCategories";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<a href="?action=add" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>YENİ KAYIT</span></a>
<a href="?action=sort" class="btnIconLeftGreen"><img src="/Liquid/Dark/images/icons/dark/adminUser.png" alt="" class="icon" /><span>SIRALAMA</span></a>
@Html.Action("ChangeLanguage")

@{
    var action = Request.QueryString["action"];

    if (action != "add" && action != "update" && action != "sort")
    {
        Session["SupporterCategories"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Destekçi Kategorileri</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kategori Adı</th>
                        <th>Tür</th>
                        <th>Aktif</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supportercategories in Model.SupporterCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())))
                    {
                        var typeId = DAL.Enums.SupporterCategoriesTypes[int.Parse(supportercategories.TypeId.ToString())];
                        <tr class="gradeU">
                            <td>
                                @supportercategories.Id
                            </td>
                            <td>
                                <span>@supportercategories.Title</span>
                            </td>
                            <td>
                                @if (typeId != null)
                                {
                                    <span>@typeId</span>
                                }
                            </td>
                            <td>
                                @if (supportercategories.Active == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="supportercategoriesIsActive" id="@supportercategories.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Active" class="supportercategoriesIsActive" id="@supportercategories.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@supportercategories.DataId" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@supportercategories.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "add")
    {
        <form id="usualValidate" class="mainForm" method="post" action="/Admin/SupporterCategoriesSave" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="head"><h5 class="iLocked">Yeni Kayıt</h5></div>
                    @{
        if (Session["SupporterCategories"] != null)
        {
            <input autocomplete="off" type="hidden" name="Id" id="Id" value="@Session["SupporterCategories"].ObjectConvertToInt()" />
                        <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
        }

        if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
        {
            <div class="rowElem noborder">
                <label>Orijinal İçerik:</label>
                <div class="formRight selectDown">
                    <select id="DataId" name="DataId" class="required">
                        <option value="">- Seçiniz -</option>
                        @foreach (var item in Model.GetSupporterCategories().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                        {
                            var isHave = Model.GetSupporterCategories().Where(x => x.DataId == item.DataId && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).Count();
                            if (isHave == 0)
                            {
                                if (Session["SupporterCategories"] != null && item.DataId == int.Parse(Session["SupporterCategories"].ToString()))
                                {
                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
                        <div class="ChooseLang"></div>
        }
        else
        {
            <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="0" />
        }
                    }
                    <div class="rowElem noborder">
                        <label>Tür:</label>
                        <div class="formRight selectDown">
                            <select name="TypeId" class="aktifPasif" required="required">
                                <option value="">- Seçiniz -</option>
                                @for (int i = 1; i < DAL.Enums.SupporterCategoriesTypes.Length; i++)
                                {
                                    <option value="@i">@DAL.Enums.SupporterCategoriesTypes[i]</option>
                                }
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Kategori Adı:</label>
                        <div class="formRight"><input autocomplete="off" type="text" class="required" name="Title" id="Title" /></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>İçerik:</label>
                        <div class="formRight"><textarea id="ckeditor" class="ckeditor" name="Content"></textarea></div>
                    </div>
                    <div class="rowElem noborder">
                        <label>Durum:</label>
                        <div class="formRight selectDown">
                            <select name="Active" class="aktifPasif">
                                <option value="0">Aktif</option>
                                <option value="1">Pasif</option>
                            </select>
                        </div><div class="fix"></div>
                    </div>
                    <div class="submitForm"><input autocomplete="off" type="submit" value="KAYDET" class="redBtn mb22" /></div>
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    }
    else if (action == "sort")
    {
        <div class="widget">
            <div class="head"><h5 class="iLocked">SIRALAMA</h5></div>
            <ul id="sortable">
                @foreach (var pageItem in Model.SupporterCategories.Where(x => x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).OrderBy(x => x.Order))
                {
                    <li class="ui-state-default" id="@pageItem.Id"><img src="/Liquid/Dark/images/icons/color/category.png" />@pageItem.Title</li>
                }
            </ul>
            <a href="#" class="btnIconLeftGreen" id="SupporterCategoriesSaveSort"><span>KAYDET</span></a>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var supportercategories = Model.SupporterCategories.Where(x => x.DataId == Id && x.LanguageId == int.Parse(Session["AdminLanguage"].ToString())).FirstOrDefault();
            if (supportercategories != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/SupporterCategoriesUpdate">
                    <input autocomplete="off" type="hidden" name="LanguageId" id="LanguageId" value="@Session["AdminLanguage"].ObjectConvertToInt()" />
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Güncelleme</h5></div>
                            <input autocomplete="off" type="hidden" name="Id" value="@supportercategories.DataId" />
                            @if (int.Parse(Session["AdminLanguage"].ToString()) != 1)
                            {
                                <div class="rowElem noborder">
                                    <label>Orijinal İçerik:</label>
                                    <div class="formRight selectDown">
                                        <select id="DataId" name="DataId" class="required">
                                            <option value="">- Seçiniz -</option>
                                            @foreach (var item in Model.GetSupporterCategories().Where(x => x.LanguageId == 1 && x.Active == true).OrderBy(x => x.Title))
                                            {
                                                if (item.DataId == supportercategories.DataId)
                                                {
                                                    <option value="@item.Id" selected="selected">@item.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ChooseLang"></div>
                            }
                            else
                            {
                                <input autocomplete="off" type="hidden" name="DataId" id="DataId" value="@supportercategories.DataId" />
                            }
                            <div class="rowElem noborder">
                                <label>Tür:</label>
                                <div class="formRight selectDown">
                                    <select name="TypeId" class="aktifPasif" required="required">
                                        <option value="">- Seçiniz -</option>
                                        @for (int i = 1; i < DAL.Enums.SupporterCategoriesTypes.Length; i++)
                                        {
                                            if (supportercategories.TypeId == i)
                                            {
                                                <option value="@i" selected="selected">@DAL.Enums.SupporterCategoriesTypes[i]</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@DAL.Enums.SupporterCategoriesTypes[i]</option>
                                            }
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Kategori Adı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" class="required" name="Title" value="@supportercategories.Title" /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İçerik:</label>
                                <div class="formRight">
                                    <textarea id="ckeditor" class="ckeditor" name="Content">@supportercategories.Content</textarea><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Durum:</label>
                                <div class="formRight selectDown">
                                    <select name="Active" class="aktifPasif">
                                        @if (supportercategories.Active == true)
                                        {
                                            <option value="0" selected="selected">Aktif</option>
                                            <option value="1">Pasif</option>
                                        }
                                        else
                                        {
                                            <option value="0">Aktif</option>
                                            <option value="1" selected="selected">Pasif</option>
                                        }
                                    </select>
                                </div><div class="fix"></div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GÜNCELLE" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["SupporterCategories"] = Id;
                Response.Redirect("SupporterCategories?action=add");
            }
        }
    }
}