﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "VolunteerForm";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];
    if (action != "update")
    {
        Session["VolunteerForm"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Gönüllü Başvuru Formları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad Soyad</th>
                        <th>E-posta</th>
                        <th>Okundu</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var volunteerform in Model.VolunteerForm)
                    {
                        <tr class="gradeU">
                            <td>
                                @volunteerform.Id
                            </td>
                            <td>
                                <span>@(volunteerform.Name + " - " + volunteerform.Surname)</span>
                            </td>
                            <td>
                                <span>@volunteerform.Email</span>
                            </td>
                            <td>
                                @if (volunteerform.Read == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Read" class="volunteerformIsRead" id="@volunteerform.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Read" class="volunteerformIsRead" id="@volunteerform.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@volunteerform.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@volunteerform.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var volunteerform = Model.VolunteerForm.Where(x => x.Id == Id).FirstOrDefault();
            if (volunteerform != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/VolunteerForm" enctype="multipart/form-data">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Atölye Başvuru Formu Detayları</h5></div>
                            <div class="rowElem noborder">
                                <label>Ad Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@(volunteerform.Name + " - " + volunteerform.Surname)" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Doğum Tarihi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Birthday" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Cinsiyet:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Gender" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Email" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Telefon:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Phone" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ülke:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Country" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Şehir:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.City" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İlçe:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.District" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Sektör:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Sector" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Eğitim Derecesi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.EducationDegree" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Mezun Olduğu Okul:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.GraduatedSchool" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Mezun Olduğu Bölüm:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.GraduatedSchoolSection" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Öğrenim Gördüğü Okul:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.CurrentSchool" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Öğrenim Gördüğü Bölüm:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.CurrentSchoolSection" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Program:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Program" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Nasıl Haberdar Oldu:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Informed" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Nasıl Katkı Sağlayabilir:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.HowToSupport" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Katkı Sağlayabileceği Alanlar:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.SupportTypes" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Çalışabileceği Tarih Aralığı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.WorkingDate" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Çalışabileceği Saat Aralığı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.WorkingTime" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Pazartesi):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day1" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Salı):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day2" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Çarşamba):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day3" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Perşembe):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day4" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Cuma):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day5" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Cumartesi):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day6" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Müsaitlik (Pazar):</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.Day7" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tarih:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@volunteerform.CreatedDate" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GERİ DÖN" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["VolunteerForm"] = Id;
                Response.Redirect("VolunteerForm");
            }
        }
    }
}