﻿@model DAL.AdminMainProgress
@using DAL;

@{
    ViewBag.Title = "WorkshopForm";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@{
    var action = Request.QueryString["action"];
    if (action != "update")
    {
        Session["WorkshopForm"] = null;
        <div class="table">
            <div class="head"><h5 class="iFrames">Atölye Başvuru Formları</h5></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad Soyad</th>
                        <th>E-posta</th>
                        <th>Okundu</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workshopform in Model.WorkshopForm)
                    {
                        <tr class="gradeU">
                            <td>
                                @workshopform.Id
                            </td>
                            <td>
                                <span>@(workshopform.Name + " - " + workshopform.Surname)</span>
                            </td>
                            <td>
                                <span>@workshopform.Email</span>
                            </td>
                            <td>
                                @if (workshopform.Read == true)
                                {
                                    <input autocomplete="off" type="checkbox" name="Read" class="workshopformIsRead" id="@workshopform.Id" checked="checked" />
                                }
                                else
                                {
                                    <input autocomplete="off" type="checkbox" name="Read" class="workshopformIsRead" id="@workshopform.Id" />
                                }
                            </td>
                            <td class="center">
                                <a href="?action=update&Id=@workshopform.Id" style="padding-left:10px"><img src="/Liquid/Dark/images/icons/dark/pencil.png" /></a>
                                <a href="#" style="padding-left:10px" onclick="DeleteData(@workshopform.Id)"><img src="/Liquid/Dark/images/icons/dark/trash.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if (action == "update")
    {
        var Id = Request.QueryString["Id"].IllegalCharRemove().ObjectConvertToInt();
        if (Id != 0 && Id > 0)
        {
            var workshopform = Model.WorkshopForm.Where(x => x.Id == Id).FirstOrDefault();
            if (workshopform != null)
            {
                <form id="usualValidate" class="mainForm" method="post" action="/Admin/WorkshopForm" enctype="multipart/form-data">
                    <fieldset>
                        <div class="widget">
                            <div class="head"><h5 class="iLocked">Atölye Başvuru Formu Detayları</h5></div>
                            <div class="rowElem noborder">
                                <label>Ad Soyad:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@(workshopform.Name + " - " + workshopform.Surname)" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Doğum Tarihi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Birthday" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Cinsiyet:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Gender" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>TC Kimlik No:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.IdentificationNumber" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>E-posta:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Email" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Telefon:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Phone" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Ülke:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Country" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Şehir:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.City" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>İlçe:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.District" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Posta Kodu:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.PostalCode" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Adres:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Address" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Sektör:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Sector" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Eğitim Derecesi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.EducationDegree" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Mezun Olduğu Okul:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.GraduatedSchool" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Mezun Olduğu Bölüm:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.GraduatedSchoolSection" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Öğrenim Gördüğü Okul:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.CurrentSchool" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Öğrenim Gördüğü Bölüm:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.CurrentSchoolSection" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Program:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Program" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Nasıl Haberdar Oldu:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Informed" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Allerji vefya Hastalık:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Allergy" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Özel Beslenme Biçimi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.Nutrition" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Özel Durumda Aranacak Kişi:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.RelationNameSurname" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Özel Durumda Aranacak Kişinin Yakınlığı:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.RelationProximity" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Özel Durumda Aranacak Kişinin Telefonu:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.RelationProximity" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="rowElem noborder">
                                <label>Tarih:</label>
                                <div class="formRight">
                                    <input autocomplete="off" type="text" value="@workshopform.CreatedDate" readonly /><div class="fix"></div>
                                </div>
                            </div>
                            <div class="submitForm"><input autocomplete="off" type="submit" value="GERİ DÖN" class="redBtn mb22" /></div>
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            }
            else
            {
                Session["WorkshopForm"] = Id;
                Response.Redirect("WorkshopForm");
            }
        }
    }
}