﻿#uniform-SelectLanguage{float: right ;margin-top: -8px !important;}
 
.datepicker{width:65px !important}
.isreadDiv{float: left;
margin-left: 68px;}

.MailContentTitleWrapper{
    float: left;
margin-left: 300px;
}
.MailContentTitle{

    margin-left: 50px;
float: left;
}
.ContentTitle{
    top:1px;
    position:absolute;
    left:300px;
}
.CircularTitle{
    top:1px;
    position: absolute;
    left: 385px;
}